*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.hero-tab{
    overflow: hidden;
    width: 80%;
    height: 450px;
    position: relative;
    margin: 100px auto;   
    .btn-box{
        justify-content: center;
        display: flex;
        border-bottom: 3px solid #f50e0e;
        button{
            font-size: 20px;
            background: transparent;
            border: none;
            outline: none;
            padding: 10px 20px;
            cursor: pointer;
            margin-right: 20px;
            font-weight: bold;
            .fa-brands {
                margin-right: 20px;
            }
        }
        button:hover{
            color: #a10505;
        }
        button:last-child {  // Target the last button and remove the margin-right
            margin-right: 0;
        }
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% auto;
        position: absolute;
        transform: translateX(150%);
        .content-left{
            flex-basis: 50%;
            p{
                font-size: 13px;
                padding: 30px 0;    
            }
            a{
                text-decoration: none;
                color: #f1f1f1;
                font-weight: bold;
                display: inline-block;
                width: 100px;
                margin-top: 20px;
                padding: 10px 20px;
                background-color: #f01439;
                border-radius: 15px;
                transition: all 0.3s ease;
                text-align: center;
            }
        }
        .content-right{
            flex-basis: 50%;
            text-align: center;
            img{
                width: 350px;
            }
        }
    }
    #content1{
        transform: translateX(0);
    }
}