*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: rgb(112, 9, 172);
    display: flex;
    align-items: center;
    justify-content: center;


}
form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
form h3{
    color: rgb(112, 9, 172);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

form input, form textarea{
    padding: 2rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(112, 9, 172);
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

form button{
    padding: 1.5rem;
    background: rgb(14, 120, 219);
    color: #fff;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
    margin: 20px auto 0 ;
    width: 50%;
    transition: 0.5s;
}