*, *::after, *::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #ccd5ae;
}
.detail{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* 50% of the width, 50% of the height, sclale 0 to hide it */
    transition:  200ms ease-in-out;   /* this is to have a smooth transition */
    border: 2px solid ;
    border-radius: 10px;
    z-index: 10;
    background-color: #fff;
    width: 500px;
    max-width: 80%;
}

.detail.active{
    transform: translate(-50%, -50%) scale(1);
}

.detail-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;

}
.detail-heaer .title{
    font-size: 20px;
    font-weight: 600;
}
.detail-header .close-button{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: none;
    outline: none;
    border: none;
    background-color: none;
}
.detail-body{
    padding: 10px 15px;
}
#overlay{
    position: fixed; /* overlay is to cover the background */
    transition: 200ms ease-in-out; /* this is to have a smooth transition */
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5); /* black with 50% opacity */
    pointer-events: none; /* this is to *not* have the overlay clickable */
}
#overlay.active{
    opacity: 1;
    pointer-events: all; /* this active overlay will be clickable */
}




